* {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

@media all and(max-width:500px) {
    body {

    }
}

.imagemDeFundo {
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(/imagens/gamer.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 0 0;
}

.center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li{
    list-style: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    border-radius: 15px;
    font-family: sans-serif;
}

ul li a {
    text-decoration: none;
    padding: 15px 30px;
    display: block;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

ul li:nth-child(1) a{
    color: rgb(76, 248, 28);
    border: 2px solid rgb(76, 248, 28)
}

ul li:nth-child(2) a{
    color: white;
    border: 2px solid rgb(255, 255, 255)
}

ul li:nth-child(1):hover a{
    box-shadow: 0px 0px 5px rgb(76, 248, 28,0.3), 0px 0px 10px rgb(76, 248, 28,0.8);
    background-color: rgb(76, 248, 28,0.3);

}

ul li:nth-child(2):hover a{
    box-shadow: 0px 0px 5px rgb(255,255,255,0.3), 0px 0px 10px rgb(255,255,255,0.8);
    background-color: rgb(255,255,255,0.3);
}

#perdeuJogo {
    position: flex;
    background-color: black;
    width: 840;
}

#teste {
    position: absolute;
    justify-content: end;    
    background-position: bottom;
    top: 80m;
    left: 22em;

}